@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.AppContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media($tablet) {
    min-height: 100vh;
    padding: 50px;
  }
}
