@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.AppContainer {
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include media($tablet) {
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
}
