@use "@styles/variables" as *;
@use "@styles/mixins" as *;

$inputColumnWidth: 400px;
$borderRadius: 8px;

.FieldBuilder {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  background-color: $neutral-100;

  @include media($tablet) {
    height: auto;
    min-height: 0;
    width: fit-content;
    min-width: 500px;
  }

  .FieldBuilderHeader {
    padding: 20px;
    background-color: $color-secondary;

    @include media($tablet) {
      padding: 10px;
      border: 1px solid $color-secondary;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }

    .FieldBuilderTitle {
      font-weight: 600;
      color: $color-foreground-secondary;
      font-size: $font-md;
    }
  }

  .FieldBuilderFormContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 15px;

    @include media($tablet) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-columns: 150px $inputColumnWidth;
      gap: 20px;
      padding: 20px;

      border: 1px solid $color-secondary;
      border-top: none;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }

    .Actions {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: flex-end;
      justify-content: space-between;

      @include media($tablet) {
        padding-bottom: 20px;
      }

      .ModifiedActions {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }

    .Error {
      color: $color-danger;
      font-size: $font-sm;
      font-weight: 600;
    }

    .GridWhitespace {
      display: none;

      @include media($tablet) {
        display: block;
      }
    }
  }
}
