@use "@styles/variables" as *;

$inputColumnWidth: 200px;
$borderRadius: 8px;

.FieldBuilder {
  width: fit-content;
  min-width: 500px;
  background-color: $neutral-100;

  .FieldBuilderHeader {
    padding: 10px;
    background-color: $color-secondary;

    border: 1px solid $color-secondary;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;

    .FieldBuilderTitle {
      font-weight: 600;
      color: $color-foreground-secondary;
      font-size: $font-md;
    }
  }

  .FieldBuilderFormContainer {
    display: grid;
    grid-template-columns: 150px $inputColumnWidth;
    gap: 20px;
    padding: 20px;
    border: 1px solid $color-secondary;
    border-top: none;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;

    .Actions {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}
