@use "@styles/variables" as *;

.FieldInputContainer {
  display: contents;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .InputLabel {
    display: flex;
    align-items: center;
    font-size: $font-md;
  }
  .FieldInput {
    width: 300px;
    padding: 0.5rem;
    border: 1px solid $neutral-300;
    border-radius: 6px;
    font-size: $font-sm;
    outline: none;
  }
}
