/* Color Variables */

$color-primary: #0052cc;
$color-primary-dark: #003d99;

$color-secondary: #add8e6;
$color-secondary-dark: #87ceeb;
$color-foreground-secondary: #005f73;

$color-success: #36b37e;
$color-danger: #ff5630;
$color-warning: #ffab00;
$color-info: #00b8d9;
$color-light: #f4f5f7;
$color-dark: #172b4d;
$color-white: #fefefe;
$color-black: #000000;

/* Neutral Colors */
$neutral-100: #f4f5f7;
$neutral-200: #e1e2e6;
$neutral-300: #c1c2c6;
$neutral-400: #a1a2a6;
$neutral-500: #7a7b80;
$neutral-600: #5e5f63;
$neutral-700: #3f4044;
$neutral-800: #202224;
$neutral-900: #121214;

/* Font Sizes */
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-2xl: 30px;
$font-3xl: 36px;
$font-4xl: 48px;
$font-5xl: 60px;
$font-6xl: 72px;
